<div class="row header">
			<div class="col-xs-5  logo-wrapper">
				<a href="#"><img src="img/images/TeresolLogo.jpg" alt="Tlogo"/></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="#"><img src="img/images/tracker_menu.png" alt="Tlogo"/></a>
			</div>
			
			<div class="col-xs-6 menu-links" >
				<a href="#"> Home</a>
				<a href="#"> Maps </a>
				<a href="#"> Reports </a>
				<a href="#"><img src="img/images/phone.png"></a>
				<a href="#"><img src="img/images/camera.png"></a>
				<a href="#"><img src="img/images/setting.png"  ></a>
				
				
			</div>
			<div>
				
				<div class = "navigation">
					<div class="top_nav">
						<div class="nav_menu">
							
							
							<ul class="nav navbar-nav">
								<li class="lock">
									<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
										<img src="img/images/lock.png" >
										
										<!--  -->
										<span class=" fa fa-angle-down"></span>
									</a>
									<ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
										<li><a href="javascript:;">Profile</a>
									</li>
								
									  <div ng-controller="AuthenticationController">
						<!-- <span ng-bind="global.user.person_name"></span>	 -->			
										 <ul>
										 <li ng-bind="global.user.person_name"></li>
										 <li ng-bind="global.user.person_address"s></li>
    									   <!--  <li ng-bind="($scope.global.user, val) in data">{{scope.global.user.person_id}}:{{val}}</li> -->
  										  </ul>
                           
                            </div>
									<li>
										<a href="/signout">Log Out&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-log-out"></i></a>
									</li>
								</ul>
								<!--     </div> -->
								
							</li>
							
						</ul>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- HEADER SECTION END-->
	<div class= "row dashboard_div" >
		<div class="col-xs-1">
			<h3>&nbsp;&nbsp;Dashboard</h3>
		</div>
		<div class ="col-xs-1 col-xs-offset-10">
			<a href="#"><img src="img/images/sos.png"></a>
		</div>
		
	</div>
	<!-- //////////////////////////// -->
	<!--  <div id="container"  ng-controller="two_way_control">
		<div class="row menu" ng-repeat="data in profile_pictures"> -->
			</br>
		       
                        <div class=" animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12" >
                            <div class="tile-stats" style="background-color:#ebccd1; border-color:#ebccd1;">
                      
                              
                                <div class="count">179&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;   <input type="checkbox" class="flat">   </div>
                       
                                <h3>New Sign ups</h3>
                              
                            </div>
                        </div>
                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="tile-stats"    style="background-color:#dff0d8; border-color:#d6e9c6;">
                                <div class="icon"><i class="fa fa-comments-o"></i>
                                </div>
                                <div class="count">179</div>

                                <h3>New Sign ups</h3>
                             
                            </div>
                        </div>
                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="tile-stats"    style="background-color:#d9edf7; border-color:#bce8f1;">
                                <div class="icon"><i class="fa fa-comments-o"></i>
                                </div>
                                

                        </div>
                        </div>
                          
                    
                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="tile-stats" style="background-color:#fcf8e3; border-color:#faebcc;">
                                <div class="icon"><i class="fa fa-check-square-o"></i>
                                </div>
                                <div class="count">179</div>

                                <h3>New Sign ups</h3>
                               
                            </div>
                        </div>
			<br></br><br></br></br>
		<!-- 	</div>
	</div> -->
	<hr>
	<!--//////////////////////////-->
	<div class="row">
		<div class="col-xs-5 graph1">
			
			
			<div class="canvas-wrapper">
				<canvas class="main-chart" id="line-chart" height="400" width="930"></canvas>
				
			</div>
		</div>
		<div class="col-xs-3 graphs">
			
			<a href="#"><img src="img/images/tracker design-09.png"></a>
			
		</div>
		
		
		<div class="col-xs-3 nav_graph">
			<a href="#"><img src="img/images/tracker design-21.png" ></a>
		</div>
		<img src="img/images/worldMap.png "class="worldmap">
	</div>
	<!-- /////////////////////////////////////// -->
	<div class="row pages_top">
		<div class="col-xs-5 pages_class" >
			<img src="img/images/page1.png" >
		</div>
		<div class="col-xs-3  pages_class2">
			<img src="img/images/tracker design-06.png" >
		</div>
		<div class="col-xs-3 pages_class3">
			<img src="img/images/page.png " >
		</div>
	</div>
	</br>
	<!-- /////////////////////////////////////////// -->
	<div class="row">
		<div class="col-xs-4 heat_tab" >
			<img src="img/images/heat.png" >
		</div>
		<div class="col-xs-4 stats_tab">
			<img src="img/images/stats.png" >
		</div>
		<div class="col-xs-4 proerty_tab">
			<img src="img/images/properties.png " >
		</div>
	</div>
	</br></br>
	<div>
		<center><h5>Copyright Teresol (Pvt) &copy; all rights reserved 2000-2015</h5></center>
	</div>
	
	<div>


	</div>
